<a href="https://colab.research.google.com/github/blueboxai18/Google-Colab/blob/master/Colab_forms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Using textbox, dropdown lists, and text & drop downs

Enter_String = 'Jane Doe' #@param {type:"string"}
grade = 'Sophomore' #@param ["Fresher", "Sophomore", "Junior", "Senior"]
text_and_dropdown = '10th grade' #@param ["Fresher", "Sophomore", "Junior", "Senior"] {allow-input: true}

print(Enter_String)
print("My gade is:", grade)
print(text_and_dropdown)

Jane Doe
My gade is: Sophomore
10th grade

In [2]:
#@title Date fields
date_input = '2018-12-21' #@param {type:"date"}

print(date_input)

2018-12-21

In [4]:
#@title Number fields
number_input = 28 #@param {type:"number"}
number_slider = 0 #@param {type:"slider", min:-1, max:1, step:0.1}

integer_input = 13 #@param {type:"integer"}
integer_slider = 8 #@param {type:"slider", min:0, max:100, step:1}

print(number_input)
print(number_slider)

print(integer_input)
print(integer_slider)

28
0
13
8